/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERALI */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.container{
    height: calc(100vh - 70px);
    display: flex;
    width: 100%;
}
:root{
    --space:15px;
    --gray:rgb(96, 93, 93);
    --white:#ffffff;
}
section{
    margin: 15px;
}
/* aside */


.container-aside{
    width: 200px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.item ul li:hover{
    box-shadow:inset 3px 0px 0px 0px #00FF11;
}
.aside-top{
    height:calc(100% - 70px);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
.item ul li a{
    padding: 0 var(--space);
}
.item ul li a img{
    width: 25px;
    vertical-align: middle;
}
.item ul li a span{
    vertical-align: middle;
}
.aside-top a:not(.logo a >*){
    color: var(--gray);
    margin: 10px 0 5px 0; 
}
.aside-top a:hover:not(.logo >*){
    filter: invert();
}
.logo a:first-child img{
    width: 90%;
    padding:var(--space);
}
.smoll-logo{
    display: none;
}
.aside-top ul li{
    margin: 5px;
}

/* PLAYLIST */
.playlist{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 0 var(--space);
}
.playlist ul {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.playlist div a i{
    background-color: var(--gray);
    color: black;
    padding: 5px;
    margin: 5px 0 10px 5px;
}
.playlist h4{
    padding-left: 5px;
}

/* aside-bottom */
.aside-bottom{
    height: 70px;
    background-color:rgb(0, 0, 0);

}
.aside-bottom >*{
    margin:10px var(--space);
}
.aside-bottom img{
    width: 20px;
    vertical-align: middle;
}
.aside-bottom div img{
    background-color:var(--gray) ;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.aside-bottom span{
    vertical-align: middle;
    color: var(--gray);
}
.aside-bottom a:hover{
    filter: invert();
}




/* main */
.container-main{
    width: calc(100% - 200px);
    background-color: rgb(36, 38, 38);
}
.container-main section h2{
    color: var(--white);
}
/* CTA */
.container-main:not(.cta){
    overflow: auto;
}
.cta{
    position: sticky;
    top: 0;
    z-index: 20;
    height: 70px;
    text-align: right;
    line-height: 70px;
    padding-right: var(--space);
    background-color: rgb(27, 26, 26);
}

.cta a{
    font-size: 12px;
    color: var(--white);
    background-color: black;
    border: 1px solid var(--white);
    border-radius: 15px;
    padding: 5px 20px;
}

.cta a:hover{
   font-size: 15px;
}
/* nav-main */


.nav-content ul{
    text-align: center;
    font-size: 12px;
}

.nav-content ul li{
    display: inline-block;
    margin: 5px ;
}

.nav-content ul li a{
    padding: 5px;
    color:var(--gray);
}

.nav-content ul li a:hover{
    color: white;
    border-bottom: 2px solid yellowgreen;

}

/* recently */
#recently h2{
    padding-bottom: var(--space);
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

.my-col{
    width: calc((100% / 6) - 5px);
    margin-right: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    font-size: 60px;
}

.card{
    position: relative;
}

.my-col:hover  .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-col img{
   width: 100%;
   display: block;
}

#for-you >p ,#popular >p{
    margin: 10px 0 15px 0;
    font-size: 10px;
    color: var(--gray);
}

.my-col h4{
    font-size: 14px;
    color: var(--white);
    margin-top: var(--space);

}

.my-col span{
    font-size: 10px;
    color: var(--gray);
}

#popular .my-row .my-col img{
    border-radius: 50%;
}





/* Footer */
footer{
    background-color: rgb(32, 31, 31)
}
.container-footer{
    height: 70px;
    width: 100vw;
    z-index: 20;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 0.1rem;
}  
.container-footer >*{
    width: calc(100% / 3);
}  
.left-play{
    display: flex;
    align-items: center;
}
.left-play div img{
    max-height: 50px;
    padding:0.1rem 0.5rem ;
}
.left-play >div {
    display: flex;
    align-items: center;
}
.left-play div ul li{
    display: inline-block;
}
.left-play h5{
    color: var(--white);
    
}
.left-play :not(h5){
    color: var(--gray);
}
.left-play :not(h5) {
    color: var(--gray);
}
.sx-left-play a{
    font-size: 10px;
    margin-right: 30px;
}
.sx-left-play a:hover{
    color: var(--white);
}
.center-play >*{
    height: 50%;
    text-align: center;
}
.center-play div ul li a {
    color: var(--white);
    padding: 0 15px;
}
.center-play div ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
.play{
    font-size: 25px;
}
.bottom-play{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.bottom-play span{
    color: var(--white);
    font-size: 13px;
    vertical-align: middle;
}
.bar{
    background-color: var(--gray);
    width: 80%;
    height: 3px;
    margin: 0 10px;
}
.bar div{
    background-color: var(--white);
    width: 20%;
    height: 3px;
}

.bar div:hover{
    background-color: #00FF11;
}

/* right-play */
.right-play{
    display: flex;
    align-items: center;
    justify-content: right;
}
.right-play div ul li{
    display: inline-block;
}

.right-play div ul li a{
    color: var(--white);
    padding: 0 3px;
}
.vol{
    height: 3px;
    width: 25%;
    background-color:var(--gray);
    margin: 0 10px;
}
.vol div{
    height: 3px;
    width: 20%;
    background-color:var(--white);
}








/* media query */

@media screen and (max-width:1100px){
    .my-col{
        width: calc((100% / 6) - 5px);
    }
}
@media screen and (max-width:700px){
    .my-col{
        width: calc((100% / 4) - 5px);
    }
}
@media screen and (max-width: 600px) {
  
    .smoll-logo{
        display: block;
        width: 80%;
    }
    .logo a:first-child img{
        display: none;
    }
    .my-col{
        width: calc((100% / 2) - 5px);
    }
    .container-aside{
        width: 50px;
    }
    .item ul li a span ,.playlist ,.aside-bottom span , hr{
        display: none;
    }
    .container-main{
        width: calc(100% - 50px);
    }
    .item ul li a{
        padding: 0;
    }
    .item ul li{
        text-align: center;
    }
} 
@media screen and (max-width:500px){
    .center-play div ul li a {
        padding: 0 5px;
    }
    .vol{
        margin: 0;
    }
    .sx-left-play a{
        margin-right: 0;
    }
}   